<h3 class="md-headline text-center" style="margin:5px;">
  <md-icon>verified_user</md-icon>
  <span translate>lbl.certifications</span>
</h3>
<div layout-xs="column" layout-gt-xs="row" layout-align="center center">
  <div layout-padding>
    <div class="divImg align-center" style="background-image:url('img/certifications/java.png');height:100px;width:100px;"></div>
    <div class="md-caption text-center">Oracle Certified Professional,<br/>Java SE 6 Programmer</div>
  </div>
  <div layout-padding>
    <div class="divImg align-center" style="background-image:url('img/certifications/sap.png');height:100px;width:100px;"></div>
    <div class="md-caption text-center">Development associate Abap</div>
  </div>
  <div layout-padding>
    <div class="divImg align-center"  style="background-image:url('img/certifications/angularjs.png');height:100px;width:100px;"></div>
    <div class="md-caption text-center">shaping-up-with-angular-js</div>
  </div>
</div>
