<div layout="column" layout-align="center center">

  <md-card style="background-color: rgba(255,255,255,0.8)">
   <md-card-content class="text-center" layout-align="center center">
     <h3 class="md-headline" style="margin:0px;">Marcos Antonio Alvarado Castro</h3>
    <div class="divImg rounded align-center" style="margin-top:20px; background-image:url('img/perfil.jpg');height:200px;width:200px;"></div>
   </md-card-content>
   <md-card-actions layout-xs="column" layout-gt-xs="row" layout-align="center center">
     <md-button layout-padding>
       <md-button class="md-fab md-raised md-mini">
         <md-icon>email</md-icon>
       </md-button>
       <span>marcksaac@gmail.com</span>
     </md-button>
       <md-button layout-padding>
         <md-button class="md-fab md-raised md-mini">
           <md-icon>phone</md-icon>
         </md-button>
         <span>+52 442 3703714</span>
       </md-button>
   </md-card-actions>
   <md-card-content>
     <md-divider></md-divider>
     <me-degree></me-degree>
     <md-divider></md-divider>
     <me-certifications></me-certifications>
   </md-card-content>
  </md-card>

</div>
